.ion-qr-scanner{width:80%; font-size:16px;display: block; text-align: right;}
.scan.right{text-align: right; width:20%;}
.scan.right .center{text-align: right;display: block;font-size:12px;}
.placeholder-icon.color{color:#e72046;font-size:20px;}
ion-content{
  .left{
    float:left;
    width:30%;
    font-family: "黑体";
    .list{
      .item.active{
        background: #fff;
        color:#e6133c;
        border-left:#e6133c 6px solid;
      }
      .item{
        font-size:14px;
        background: #efeff4;
        border: #e9e9e9 1px solid;
      }

    }
  }
  .right{
    float:right;
    width:70%;
    .item-divider{
      background: #fff;
      span{
          border-left:3px solid #e6133c;
          padding-left:3px;
      }
    }
    .list{
      background: #fff;
      .item{
        border:none;
        .pic1{
          width:33%;
          display: inline-block;
          img{
            width:100%;
          }
          span{
            font-size: 14px;
            text-align: center;
            width:100%;
            display: block;
          }
        }
      }
    }
  }
}
