<div id="findPage" ng-controller="findPageCtroller">
  <div class="bar bar-header bar-stable basebg ">
    <button class="button button-clear icon  ion-ios-arrow-left "></button>
    <h1 class="title"><b font16>逛在百联</b></h1>
    <button class="button button-clear icon  ion-android-more-vertical "></button>
  </div>

  <ion-content class="has-header" scrollbar-y=f alse;>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()" refreshing-text="刷新完成">
    </ion-refresher>
    <div class="listbar">
      <div class="row" ng-repeat="emp in listpage">
        <div class="col col-33" ng-repeat="temp in emp" ng-click="tips()">
          <div class="tabs-icon-top card">
            <div class="icon">
              <img ng-src="{{temp.src}}">
            </div>
            {{temp.title}}
          </div>
        </div>
      </div>
    </div>

    <div class="list">
      <a class="font16 padding-left item item-icon-right" href="javascript:;">
        我收藏的门店
        <i class="padding-right icon font16">全部门店</i>
        <i class="icon ion-ios-arrow-right font22"></i>
      </a>
      <a class="item item-icon-right" href="javascript:;">
        <b>点击登陆查看已关注的门店</b>
      </a>
    </div>

    <div class="datial-list">
      <h3>门店热门活动</h3>
      <div class="act" ng-repeat="emp in detaillist" ng-click="tips()">
        <img ng-src="{{emp.src}}" alt="">
        <p class="desp">{{emp.description}}</p>
      </div>
      <!-- 加载更多 -->
      <div class="act" ng-repeat="x in items" ng-click="tips()">
        <img ng-src="{{x.src}}" alt="">
        <p class="desp">{{x.description}}</p>
      </div>
    </div>
    <!-- 加载更多 -->
    <ion-infinite-scroll on-infinite="loadMore()" distance="10%">
    </ion-infinite-scroll>
  </ion-content>
  <script id="./tpls/login.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">登录</h1>
        <button class="button button-clear button-primary" ng-click="modalLogin.hide()">Cancel</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">User Name</span>
            <input ng-model="newUser.firstName" type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">password</span>
            <input ng-model="newUser.password" type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input ng-model="newUser.email" type="text">
          </label>
          <button class="button button-full button-positive" ng-click="createContact(newUser)">Login</button>
          <a href="" ng-click="modalReg.show()">立即注册</a>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
  <script type="text/ng-template" id="tpls/register.html">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">注册</h1>
        <button class="button button-clear button-primary" ng-click="modalReg.hide()">Cancel</button>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">User Name</span>
            <input ng-model="newUser.firstName" type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">password</span>
            <input ng-model="newUser.password" type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input ng-model="newUser.email" type="text">
          </label>
          <button class="button button-full button-positive" ng-click="createContact(newUser)">注册</button>
          <a href="" ng-click="modalLogin.show()">登陆</a>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
</div>
